{% load text_filters %}

<div class="mt-8 flow-root xl:mx-auto xl:max-w-384 px-4 xl:px-12">
  <div class="-my-2 overflow-x-auto -mx-2">
    <div class="inline-block min-w-full py-2 align-middle px-2">
      <div class="overflow-hidden shadow-sm outline-1 outline-black/5 sm:rounded-lg">
        <table class="relative min-w-full divide-y divide-slate-200">
          <thead class="border-b-slate-300 bg-slate-100 text-left text-sm font-semibold text-slate-900">
            <tr>
              <th class="px-3 py-3.5 pl-4 whitespace-nowrap sm:pl-6">Name</th>
              <th class="px-3 py-3.5 whitespace-nowrap">Coding system</th>
              <th class="px-3 py-3.5 whitespace-nowrap">Description</th>
              <th class="px-3 py-3.5 pr-3 whitespace-nowrap sm:pr-6">Last updated</th>
            </tr>
          </thead>
          <tbody>
            {% for codelist in page_obj %}
              <tr
                class="bg-white align-top text-sm/relaxed text-slate-900 even:bg-slate-50 hover:bg-yellow-50"
              >
                <td class="px-3 py-2 pl-4 text-base/snug font-semibold sm:pl-6">
                  <a class="link" href="{{ codelist.get_absolute_url }}">
                    {{ codelist.name }}
                  </a>
                </td>
                <td class="px-3 py-2 whitespace-nowrap">{{ codelist.coding_system_short_name }}</td>
                <td class="px-3 py-2 max-w-prose">
                  {% if codelist.description %}
                    {{ codelist.description|truncatechars:500|truncatelines:4|linebreaksbr }}
                  {% endif %}
                </td>
                <td class="px-3 py-2 pr-3 sm:pr-6">
                  <time class="whitespace-nowrap" datetime="{{ codelist.updated_at|date:"c" }}">
                    {{ codelist.updated_at|date:'d M Y' }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr class="bg-white align-top text-sm/relaxed text-slate-900">
                <td class="px-3 py-2 pl-4 text-base/snug font-semibold sm:pl-6" colspan="4">No codelist found</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if page_obj.has_other_pages %}
          {% include "_partials/organisation_table_pagination.html" with page_obj=page_obj q=q only %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
