{% with current_plus_3=page_obj.number|add:'3' current_minus_3=page_obj.number|add:'-3' %}
  <div class="flex items-center justify-between border-t border-slate-200 bg-white px-4 py-3 sm:px-6 ">
    <div class="flex flex-1 justify-between sm:hidden">
      {% if page_obj.has_previous %}
        <a href="{{ pagination.previous_url }}" class="relative inline-flex items-center rounded-md border border-slate-300 bg-white px-4 py-2 text-sm font-medium text-slate-700 hover:bg-slate-50">Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a href="{{ pagination.next_url }}" class="relative ml-auto inline-flex items-center rounded-md border border-slate-300 bg-white px-4 py-2 text-sm font-medium text-slate-700 hover:bg-slate-50">Next</a>
      {% endif %}
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-slate-700">
          Showing
          <span class="font-medium">{{ page_obj.start_index }}</span>
          to
          <span class="font-medium">{{ page_obj.end_index }}</span>
          of
          <span class="font-medium">{{ page_obj.paginator.count }}</span>
          codelists
        </p>
      </div>
      <div>
        <nav aria-label="Pagination" class="isolate inline-flex -space-x-px rounded-md shadow-xs">
          {% if page_obj.has_previous %}
            <a href="{{ pagination.previous_url }}" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-slate-400 inset-ring inset-ring-slate-300 hover:bg-slate-50 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Previous</span>
              <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                <path d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" fill-rule="evenodd" />
              </svg>
            </a>
          {% endif %}

          {% if page_obj.has_previous %}
            {% if current_minus_3 >= 1 %}
              <a href="{{ pagination.first_url }}" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-900 inset-ring inset-ring-slate-300 hover:bg-slate-50 focus:z-20 focus:outline-offset-0">1</a>
            {% endif %}
            {% if current_minus_3 > 1 %}
              <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-700 inset-ring inset-ring-slate-300 focus:outline-offset-0">...</span>
            {% endif %}
          {% endif %}

          {% for link in pagination.page_links %}
            {% if page_obj.number == link.number %}
              <span aria-current="page" class="relative z-10 inline-flex items-center bg-blue-700 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700">{{ link.number }}</span>
            {% elif link.number > page_obj.number|add:'-3' and link.number < page_obj.number|add:'3' %}
              <a href="{{ link.url }}" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-900 inset-ring inset-ring-slate-300 hover:bg-slate-50 focus:z-20 focus:outline-offset-0">{{ link.number }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            {% if current_plus_3 < page_obj.paginator.num_pages %}
              <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-700 inset-ring inset-ring-slate-300 focus:outline-offset-0">...</span>
            {% endif %}
            {% if current_plus_3 <= page_obj.paginator.num_pages %}
              <a href="{{ pagination.last_url }}" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-slate-900 inset-ring inset-ring-slate-300 hover:bg-slate-50 focus:z-20 focus:outline-offset-0">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
            <a href="{{ pagination.next_url }}" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-slate-400 inset-ring inset-ring-slate-300 hover:bg-slate-50 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Next</span>
              <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5">
                <path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
              </svg>
            </a>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
{% endwith %}
