{% extends "base-tw.html" %}

{% block title_extra %}Log in{% endblock %}

{% block content %}
  {% url 'account_login' as login_url %}

  {% fragment as extra_content %}
    <p class="mt-10 text-center text-sm/6 text-slate-600">
      Don't have an account?
      <a href="{% url 'account_signup' %}" class="link">Register now</a>
    </p>
  {% endfragment extra_content %}

  {% with subtitle=redirect_field|yesno:"Please log in to continue," %}
    {% #registration_form action=login_url button_text="Log in" csrf_token=csrf_token extra_content=extra_content form=form title="Log in to your account" subtitle=subtitle %}
      {{ redirect_field }}
      {% form_input field=form.login autocomplete="username" %}

      {% form_input field=form.password autocomplete="current-password" %}
    {% /registration_form %}
  {% endwith %}
{% endblock %}
