{% extends "base-tw.html" %}

{% block title_extra %}New password{% endblock %}

{% block content %}
  {% if token_fail %}
    <section class="prose prose-lg py-8 lg:py-18">
      <h1>Invalid link</h1>
      <p>The password reset link was invalid, possibly because it has already been used.</p>
      <p>
        <a href="{% url 'account_reset_password' %}">
          Request a new password reset email <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </section>
  {% else %}
    {% fragment as extra_content %}
      <p class="mt-10 text-center text-sm/6 text-slate-600">
        {% if cancel_url %}
          <a href="{{ cancel_url }}" class="link">Cancel</a>
        {% else %}
          <button type="submit" form="logout-from-stage" class="link cursor-pointer">Cancel</button>
        {% endif %}
      </p>
    {% endfragment extra_content %}

    {% #registration_form action=action_url button_text="Submit" csrf_token=csrf_token extra_content=extra_content form=form title="New password" %}
      {{ redirect_field }}
      {% form_input field=form.password1 autocomplete="new-password" %}
      {% form_input field=form.password2 autocomplete="new-password" %}
    {% /registration_form %}

    {% if not cancel_url %}
      <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
        <input type="hidden" name="next" value="{% url 'account_login' %}">
        {% csrf_token %}
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
