{% extends "base-tw.html" %}

{% block title_extra %}Change password{% endblock %}

{% block content %}
  {% url 'account_change_password' as action_url %}

  {% #registration_form action=action_url button_text="Submit" csrf_token=csrf_token form=form title="Change password" %}
    {{ redirect_field }}
    {% form_input field=form.oldpassword autocomplete="current-password" %}
    {% form_input field=form.password1 autocomplete="new-password" %}
    {% form_input field=form.password2 autocomplete="new-password" %}
  {% /registration_form %}
{% endblock %}
