{% extends "base-tw.html" %}

{% block title_extra %}Password reset{% endblock %}

{% block content %}
  <section class="prose prose-lg py-8 lg:py-18">
    <h1>Password reset</h1>
    <p>We&apos;ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don&apos;t receive an email, please make sure you&apos;ve entered the address you registered with, and check your spam folder.</p>
    <p>
      <a href="{% url 'codelists:index' %}">
        Go to the home page <span aria-hidden="true">&rarr;</span>
      </a>
    </p>
  </section>
{% endblock %}
