<footer class="bg-blue-50 border-t-4 border-t-blue-950 mt-auto text-slate-950">
  <div class="container py-12 grid gap-y-6">
    <div class="grid grid-flow-row grid-cols-1 gap-8 text-center md:grid-cols-2 md:text-left">
      <div>
        <h2 class="pb-2 text-lg font-bold tracking-tight text-oxford">OpenCodelists</h2>
        <ul class="flex flex-col items-center gap-x-3 gap-y-3 md:items-start">
          <li>
            <a class="link" href="/">Home</a>
          </li>
          <li>
            <a class="link" href="{% url 'versioning:latest_releases' %}">Coding System Releases</a>
          </li>
          <li>
            <a class="link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li>
            <a class="link" href="{% url 'docs:index' %}">Documentation</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="pb-2 text-lg font-bold tracking-tight text-oxford">More</h2>
        <ul class="flex flex-col items-center gap-x-3 gap-y-3 md:items-start">
          <li>
            <a class="link" href="https://www.opensafely.org/">OpenSAFELY</a>
          </li>
          <li>
            <a class="link" href="https://www.bennett.ox.ac.uk/">Bennett Institute for Applied Data Science</a>
          </li>
          <li>
            <a class="link" href="https://www.ox.ac.uk/">University of Oxford</a>
          </li>
          <li>
            <a class="link" href="https://www.opensafely.org/privacy/">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="text-slate-600 grid gap-y-6 text-sm md:pt-6 lg:col-span-3">
        <h2 class="sr-only">Copyright statement</h2>
        <p>
          © University of Oxford for the Bennett Institute for Applied Data Science {% now 'Y' %}. This work may be copied freely for non-commercial research and study. If you wish to do any of the other acts restricted by the copyright you should apply in writing to <a class="link" href="mailto:team@opensafely.org">team@opensafely.org</a>.
        </p>
        <p>SNOMED Clinical Terms® content © International Health Terminology Standards Development Organisation.</p>
        <p>ICD-10 codes, terms and text © World Health Organization, Third Edition. 2007.</p>
      </div>
    </div>
  </div>
</footer>
