{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title_extra %}: Coding System Releases{% endblock %}

{% block content %}
  <h1> Coding System Releases</h1>

  {% for coding_system_release in latest_releases %}
    <h4>{{ coding_system_release.name }}</h4>
    <ul>
      <li>Latest release: {{ coding_system_release.release_name }}</li>
      <li>Valid from: {{ coding_system_release.release.valid_from }}</li>
      <li>Imported on: {{ coding_system_release.release.import_timestamp }}</li>
    </ul>
  {% endfor %}
  {% if pcd_refset_version %}
    <h4>NHS Primary Care Domain Refsets</h4>
    <ul>
      <li>Release: {{ pcd_refset_version.release }}</li>
      <li>Tag: {{ pcd_refset_version.tag }}</li>
      <li>Release Date: {{ pcd_refset_version.release_date }}</li>
      <li>Imported: {{ pcd_refset_version.import_timestamp }}</li>
    </ul>
  {% endif %}
{% endblock %}
