.git/
.github/
.pre-commit-config.yaml
.direnv
.env
.venv/
venv/
.coverage
htmlcov/
pyproject.toml
**/*.pyc
**/__pycache__/
node_modules/
# docker image builds its own dir
staticfiles/
# dockerfile image build its own dir
assets/dist/

# Database files
**/*.sqlite*
db.sqlite*
