[flake8]
exclude = .direnv,.venv,venv,coding_systems/snomedct/parser_utils/*
extend-select = \
    W504  # match black&PEP8 putting binary operators after new lines
ignore = \
    E203 \ # whitespace before : (black disagrees)
    E501 \ # line too long (black fixes long lines, except for long strings which may benefit from being long (eg URLs))
    W503   # line break before binary operator (black disagrees)
per-file-ignores =
    codelists/views/__init__.py:F401
    opencodelists/views/__init__.py:F401
