[flake8]
exclude = .direnv,.venv,venv,coding_systems/snomedct/parser_utils/*
extend-select =
    # match black&PEP8 putting binary operators after new lines
    W504
ignore =
    # whitespace before : (black disagrees)
    E203,
    # line too long (black fixes long lines, except for long strings which may benefit from being long (eg URLs))
    E501,
    # line break before binary operator (black disagrees)
    W503
per-file-ignores =
    codelists/views/__init__.py:F401
    opencodelists/views/__init__.py:F401
