*.sqlite3*
sql_dump/
environment
tmp
venv
.venv
__pycache__/
.coverage
.env
.hypothesis
htmlcov
node_modules
staticfiles/
/assets/dist
/assets/src/scripts/coverage
/docker/docker-staticfiles/*
docker/storage
deleted-user-dumps/*
*.tsbuildinfo
