.babelrc
.direnv
.eslintrc.json
.github/*
.pre-commit-config.yaml
.pytest_cache/*
.venv
DEPLOY.md
README.md
codelists/tests/expected_html_tree.html
coding_systems/snomedct/fixtures/*
coding_systems/snomedct/parser_utils/README
htmlcov
static/dist/*
static/test/**/*.json
templates
venv
