default_language_version:
  python: python3.13

repos:
  - repo: local
    hooks:
    - id: check
      name: check
      entry: just check
      language: system
      types: [python]
      require_serial: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-ast
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: detect-private-key

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
    - id: shellcheck

exclude: coding_systems/snomedct/parser_utils/
