[tool.black]
exclude = '''
(
  /(
      \.git         # exclude a few common directories in the
    | migrations    # root of the project
    | \.direnv
    | \.venv
  )/
)
'''

[tool.coverage.run]
branch = true
omit = [
  "opencodelists/asgi.py",
  "opencodelists/django_test_runner.py",
  "opencodelists/settings.py",
  "opencodelists/wsgi.py",
]

[tool.coverage.report]
skip_covered = true

[tool.coverage.html]

[tool.isort]
force_grid_wrap = 0
include_trailing_comma = true
line_length = 88
multi_line_output = 3
use_parentheses = true
skip_glob = [".direnv", "*migrations*", "tmp", ".venv"]
known_third_party = ["crispy_forms", "debug_toolbar", "django", "fabric", "factory", "hypothesis", "pytest", "pytest_django", "sentry_sdk"]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "opencodelists.settings"
