antlr4-python3-runtime
bleach
fabric3
django
djangorestframework
django-crispy-forms
django-cors-headers
django-debug-toolbar
django-structlog
gunicorn
lxml
markdown2
openpyxl
pysqlite3-binary
whitenoise
sentry-sdk
structlog

# test
hypothesis
pytest-cov
pytest-django
pytest-subtests

# dev
black
django-extensions
flake8
isort
litecli
pip-tools
pre-commit
