# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in

antlr4-python3-runtime
beautifulsoup4
crispy-bootstrap4
dj-database-url
# Pin to 5.2.x until 6.0 is released and we are happy with 6.0 compatibility
django~=5.2.9
djangorestframework
django-anymail[mailgun]
django-crispy-forms
django-cors-headers
django-extensions
django-structlog
django-taggit
django-vite
faker
furl
gunicorn
lxml
markdown2
nh3
openpyxl
opentelemetry-exporter-otlp
opentelemetry-instrumentation-django
opentelemetry-sdk
# Serves static files. Dependabot wasn't updating past 6.3.0 for
# unclear reasons, and we want fix #612 from 6.8.0.
whitenoise[brotli]>=6.8.0
sentry-sdk
sqlean.py
structlog
tqdm
slippers
requests>=2.32.4 # mimmum version for security patch
