--constraint requirements.prod.txt

# Additional dev requirements
# To generate a requirements file that includes both prod and dev requirements, run:
# pip-compile --generate-hashes --output-file=requirements.dev.txt requirements.dev.in

django-debug-toolbar

# test
hypothesis
pytest-cov
pytest-django
pytest-playwright
responses
requests>=2.32.4 # mimmum version for security patch

# dev
djhtml
pip-tools
pre-commit
ruff

# For scripts/fetch_vmp_prev.py
paramiko

# for scripts/import_codelists_from_xlsx.py
pandas

# Pin pip due to incompatibility of later releases with pip-tools
# https://github.com/jazzband/pip-tools/issues/2252
pip==25.2
