# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in

antlr4-python3-runtime
bleach
fabric3
django
djangorestframework
django-crispy-forms
django-cors-headers
django-debug-toolbar
django-structlog
environs[django]
furl
gunicorn
lxml
markdown2
openpyxl
pysqlite3-binary
whitenoise
sentry-sdk
structlog
