fabric3
django
django-crispy-forms
django-cors-headers
django-markdown-filter
gunicorn
pysqlite3-binary
whitenoise
sentry-sdk

# test
hypothesis
pytest-django
pytest-freezegun

# dev
black
django-extensions
flake8
isort
litecli
pip-tools
