{% extends "base-tw.html" %}

{% block title_extra %}Log in{% endblock %}

{% block content %}
  <div class="flex min-h-full flex-col justify-center py-20 sm:px-6 lg:px-8">
    <div class="sm:mx-auto text-center">
      <h1 class="text-2xl/9 font-bold tracking-tight text-slate-900">Log in to your account</h1>
      {% if next %}
        <p class="text-sm text-slate-600">Please log in to continue</p>
      {% endif %}
    </div>

    <div class="mt-10 space-y-6 sm:mx-auto sm:w-full sm:max-w-[480px]">

      {% if form.non_field_errors %}
        <div class="rounded-md bg-red-50 p-4">
          <div class="flex">
            <div class="shrink-0">
              <svg class="size-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h2 class="text-sm font-medium text-red-800">We were not able to log you in</h2>
              <div class="mt-2 text-sm text-red-700">
                <ul role="list" class="list-disc space-y-1 pl-5">
                  {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="bg-white px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
        <form class="space-y-6" action="{% url 'login' %}" method="POST">
          {% csrf_token %}

          <input type="hidden" name="next" value="{{ next }}" />
          {% form_input field=form.username autocomplete="username" %}

          {% fragment as label_extra %}
            <a href="{% url 'password_reset' %}" class="text-sm font-semibold text-blue-700 underline decoration-transparent underline-offset-2 transition-colors hover:text-blue-900 hover:decoration-blue-900">Forgot password?</a>
          {% endfragment %}
          {% form_input field=form.password autocomplete="current-password" label_extra=label_extra %}

          <button type="submit" class="flex w-full justify-center cursor-pointer rounded-md bg-blue-700 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs transition-colors hover:bg-blue-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700">Log in</button>
        </form>
      </div>

      <p class="mt-10 text-center text-sm/6 text-slate-600">
        Don't have an account?
        <a href="{% url 'register' %}" class="font-semibold text-blue-700 underline decoration-transparent underline-offset-2 transition-colors hover:text-blue-900 hover:decoration-blue-900">Register now</a>
      </p>
    </div>
  </div>
{% endblock %}
