{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title_extra %}: Sign in{% endblock %}

{% block content %}
<div class="mt-3">
    <h1>Sign in</h1>
    <p class="lead">Sign in to your OpenCodelists account.</p>
    {% if next %}
        <p>Please log in to see this page.</p>
    {% endif %}

    <form class="auth-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="hidden" name="next" value="{{ next }}" />

        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>

    <p>
        Don't have an account
        <a href="{% url 'register' %}">sign up now &rarr;</a>
    </p>
    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
</div>
{% endblock %}
