{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title_extra %}: Enter a new password{% endblock %}

{% block content %}

<div class="mt-3">
    <h1>Enter a new password</h1>

    {% if validlink %}
        <p class="lead">
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>

        <form class="auth-form" method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="btn btn-primary" type="submit">Change password</button>
        </form>
    {% else %}
        <p class="lead">The password reset link was invalid, possibly because it has already been used.</p>
        <p>
            <a href="{% url 'password_reset' %}">
                Request a new password reset email &rarr;
            </a>
            </p>
    {% endif %}
</div>
{% endblock %}
