{% extends "base-tw.html" %}

{% block title_extra %}New password{% endblock %}

{% block content %}
  {% if validlink %}
    {% #registration_form button_text="Submit" csrf_token=csrf_token form=form title="New password" %}
      {% form_input field=form.new_password1 autocomplete="new-password" %}
      {% form_input field=form.new_password2 autocomplete="new-password" %}
    {% /registration_form %}
  {% else %}
    <section class="prose prose-lg py-8 lg:py-18">
      <h1>Invalid link</h1>
      <p>The password reset link was invalid, possibly because it has already been used.</p>
      <p>
        <a href="{% url 'password_reset' %}">
          Request a new password reset email <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </section>
  {% endif %}
{% endblock %}
