{% extends "base-tw.html" %}

{% block title_extra %}Password changed{% endblock %}

{% block content %}
  <section class="grid place-items-center text-center px-6 py-24 sm:py-32 lg:px-8">
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-slate-900">Password changed</h1>
    <p class="mt-6 text-lg font-medium text-pretty text-slate-700">Your password has been updated</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="{% url 'codelists:index' %}" class="font-semibold text-blue-700 underline decoration-transparent underline-offset-2 transition-colors hover:text-blue-900 hover:decoration-blue-900">
        Go to the home page <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
  </section>
{% endblock %}
