{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="mt-3">
    <h1>{{ title }}</h1>

    {% if validlink %}

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Change my password</button>
    </form>

    {% else %}

    <p>The password reset link was invalid, possibly because it has already been used.
        Please request a new <a href="{% url 'password_reset' %}">password reset</a>.</p>

    {% endif %}
</div>
{% endblock %}
