{% extends "base-tw.html" %}

{% block title_extra %}Register for an OpenCodelists account{% endblock %}

{% block content %}
  {% url 'register' as register_url %}

  {% fragment as extra_content %}
    <p class="mt-10 text-center text-sm/6 text-slate-600">
      Already have an account?
      <a href="{% url 'login' %}" class="font-semibold text-blue-700 underline decoration-transparent underline-offset-2 transition-colors hover:text-blue-900 hover:decoration-blue-900">Log in now</a>
    </p>
  {% endfragment extra_content %}

  {% #registration_form action=register_url button_text="Submit" csrf_token=csrf_token extra_content=extra_content form=form title="Register for an OpenCodelists account" %}
    {% form_input field=form.username autocomplete="username" %}
    {% form_input field=form.name autocomplete="name" %}
    {% form_input field=form.email autocomplete="email" %}
    {% form_input field=form.password1 autocomplete="new-password" %}
    {% form_input field=form.password2 autocomplete="new-password" %}
  {% /registration_form %}
{% endblock %}
