[Unit]
Description=OpenCodeLists

[Service]
User=www-data
ExecStart=/var/www/opencodelists/deploy/bin/start_service.sh
SyslogIdentifier=app.opencodelists.web
Restart=always
RestartSec=4

[Install]
WantedBy=multi-user.target
