{% extends 'base.html' %}

{% block content %}

<br />
<h3>SNOMED CT Concept: {{ concept.fully_specified_name }} <code>{{ concept.id }}</code></h3>
<br />

<div class="row">
  <div class="col">
    {% for parent in parents %}
    {% include "./_concept.html" with concept=parent width=11 arrows="after" link=True %}
    {% endfor %}

    {% include "./_concept.html" with width=12 highlight=True synonyms=True %}

    {% for child in children %}
    {% include "./_concept.html" with concept=child width=11 arrows="before" link=True %}
    {% endfor %}
  </div>
</div>
{% endblock %}
