# note: we do not run prod service with Docker Compose, we use it just for
# configuring the production build
services:
  # base service, exists to hold common config, but is not actually used directly
  base:
    build:
        context: ..
        # path relative to context
        dockerfile: docker/Dockerfile
        # the prod stage in the Dockerfile
        target: opencodelists-prod
        # should speed up the build in CI, where we have a cold cache
        cache_from:  # should speed up the build in CI, where we have a cold cache
          - ghcr.io/opensafely-core/base-docker
          - ghcr.io/opensafely-core/opencodelists
        args:
          # this makes the image work for later cache_from: usage
          - BUILDKIT_INLINE_CACHE=1
          # env vars supplied by just
          - BUILD_DATE
          - GITREF
    # paths relative to docker-compose.yaml file
    env_file:
      - ../.env
    # use dockers builitin PID daemon
    init: true
    ports:
      - "7000:7000"
    volumes:
      - ./assetsout:/opt/assetsout

  # prod service. Used to build prod image and run/test it locally
  prod:
    # image name, both locally and public
    image: opencodelists
    build:
      args:
        - USERID=3000
        - GROUPID=3000
    extends:
      service: base
    environment:
      - SECRET_KEY=12345
      - DATABASE_DIR=/storage
      - DATABASE_URL=sqlite:////storage/db.sqlite3
      - TRUD_API_KEY=dummy-key
    volumes:
      # mount local directory for db path for use in tests;
      # this is created with the correct permissions in `just docker/serve`
      - "../docker/storage:/storage"

  node-assets:
    extends:
      service: base
    image: opencodelists-node-assets
    build:
      # the node-builder stage in the Dockerfile
      target: node-builder
    volumes:
      - ..:/app
      - ./assetsout:/opt/assetsout

  # main development service
  dev:
    extends:
      service: base
    image: opencodelists-dev
    container_name: opencodelists-dev
    build:
      # the dev stage in the Dockerfile
      target: opencodelists-dev
      args:
        # user developer uid:gid in dev
        - USERID=3000
        - GROUPID=3000
    # paths relative to docker-compose.yaml file
    volumes:
      - ..:/app
      # provides a persistant inspectable cache for staticfiles
      - ./docker-staticfiles:/opt/staticfiles
    # override command
    command: /app/manage.py runserver 0.0.0.0:7000

  # test runner service - uses dev-image with a different entrypoint commnd
  test:
    extends:
      service: dev
    container_name: opencodelists-test
    environment:
      # For Playwright:
      # Ensure playwright browser binaries are installed to a path in the
      # mounted volume that the non-root docker user has access to
      - PLAYWRIGHT_BROWSERS_PATH=/app/.playwright-browsers/
      - PLAYWRIGHT_BROWSER_EXECUTABLE_PATH=/app/.playwright-browsers/chrome-linux/chrome
    # override command
    command: python -m pytest --cov=. --cov-report html --cov-report term-missing:skip-covered

  # development service with overridden db path mounted
  dev-mount-db-dir:
    extends: dev
    volumes:
    - ${DATABASE_DIR}:${DATABASE_DIR}
