<h4>
  <code>
    {% if link %}
    <a href="{% url 'ctv3:concept' concept.read_code %}">{{ concept.read_code}}</a>
    {% else %}
    {{ concept.read_code}}
    {% endif %}
  </code>

  <small>{{ concept.unknown_field_1 }} / {{ concept.unknown_field_2 }}</small>
</h4>

<ul>
  {% for term in concept.all_terms %}
  <li>
    {{ term.name }}
    (<a href="{% url 'ctv3:term' term.term_id %}">
	    <code>{{ term.term_id }}</code>
    </a>
    / {{ term.unknown_field_4 }})
  </li>
  {% endfor %}
</ul>
