{% if link %}
<li>
<a href="{% url 'ctv3:concept' concept.read_code %}">
  {{ concept.preferred_term }}
  <code>
    {{ concept.read_code}}
  </code>
</a>
  <small>({{ concept.get_status_display }})</small>
</li>
{% else %}
<h4>
  {{ concept.preferred_term }}
  <code>
    {{ concept.read_code}}
  </code>
  <small>({{ concept.get_status_display }})</small>
</h4>
{% endif %}

{% if concept.synonyms %}
<ul>
  {% for term in concept.synonyms %}
  <li>{{ term }}</li>
  {% endfor %}
</ul>
{% endif %}
