{% extends 'base.html' %}

{% block content %}

<br />
<h3>CTV3 Concept: <code>{{ concept.read_code }}</code></h3>
<br />


<div class="row">
  <div class="col-12">
    <ul>
    {% for parent in parents %}
    {% include "./_concept.html" with concept=parent link=True %}
    {% endfor %}
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-10 offset-2 border bg-light">
    {% include "./_concept.html" %}
  </div>
</div>

<div class="row">
  <div class="col-8 offset-4">
    <ul>
    {% for child in children %}
    {% include "./_concept.html" with concept=child link=True %}
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
