.builder__container {
  display: inline-block;
  min-width: 100%;
}

.builder__row {
  display: flex;
  align-items: center;
  min-width: fit-content;
  padding: 0.1rem 0.25rem 0.1rem 0;
  margin-top: 0;
  position: relative;
}

.builder__row:hover {
  background-color: #eff9ff;
}

.builder__row--mt {
  margin-top: 0.5rem;
}

.builder__more-info-btn {
  font-size: 0.8rem;
  line-height: 1;
  margin: 0 0 0 0.5rem;
  padding: 0.125rem 0.25rem;
  transition-duration: 0s;
  white-space: nowrap;
}

.builder__row:not(:hover) .builder__more-info-btn {
  background: transparent;
  border: none;
  box-shadow: none;
  color: transparent;
  pointer-events: none;
}

.builder__markdown p:last-child {
  margin-bottom: 0;
}

.builder__metadata-forms {
  display: flex;
  flex-direction: column;
  margin-block-end: 1rem;
  row-gap: 1rem;
}
