@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Public Sans"),
    url("../fonts/public-sans-v5-latin-regular.woff2") format("woff2"),
    url("../fonts/public-sans-v5-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Public Sans"),
    url("../fonts/public-sans-v5-latin-500.woff2") format("woff2"),
    url("../fonts/public-sans-v5-latin-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Public Sans"),
    url("../fonts/public-sans-v5-latin-600.woff2") format("woff2"),
    url("../fonts/public-sans-v5-latin-600.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Public Sans"),
    url("../fonts/public-sans-v5-latin-700.woff2") format("woff2"),
    url("../fonts/public-sans-v5-latin-700.woff") format("woff");
}
