/** biome-ignore-all lint/complexity/noImportantStyles: Overriding Bootstrap styles */
@import "./_builder.css";
@import "./_codelists_list.css";
@import "./_tree.css";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family:
    "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 120px;
}

nav.bg-secondary {
  background-color: #002147 !important;
}

a {
  color: #0058be;
  font-weight: 600;
  text-decoration-skip-ink: auto;
  text-underline-offset: 1px;
}

a:hover,
a:focus {
  color: #00397a;
  text-decoration: underline;
  text-decoration-color: #001936;
}

.home-codelists dd {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.home-codelists dt {
  font-size: 1.1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  line-height: 20px;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
}

.youtube-embed {
  display: block;
  padding-block-end: 1rem;

  &:not(:first-child) {
    padding-block-start: 1rem;
  }

  lite-youtube {
    margin: 0 auto;
  }
}

.sidebar-versions code {
  font-size: 1.1rem;
}

.sidebar-versions .created {
  font-size: 0.9rem;
}

.auth-form {
  margin-bottom: 2rem;
  max-width: 30rem;

  & label {
    font-weight: bold;
  }

  & .asteriskField {
    color: red;
    margin-left: 0.25rem;
  }
}

.max-w-screen-2xl {
  max-width: 1536px;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.whitespace-nowrap {
  white-space: nowrap;
}

#codelist-builder-container {
  overflow-x: hidden;
}

.builder__sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.version__sidebar,
.versions__sidebar-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.version__buttons {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.max-w-80ch {
  max-width: 80ch;
}

.nav--banner {
  margin-top: 2.25rem;
}

.development-banner {
  background-color: rgb(190, 242, 100);
  color: rgb(63, 98, 18);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 30;
}
