<div class="flex flex-row gap-x-8 items-center">
  <label for="{{ field.id_for_label }}" class="w-fit max-w-full flex flex-row gap-x-3 items-start cursor-pointer text-lg group ">
    <input
      id="{{ field.id_for_label }}"
      name="{{ field.html_name }}"
      type="checkbox"
      value="on"
      {% if field.value %}checked{% endif %}
      class="scale-125 mt-1 ml-1 transition-colors
             group-hover:bg-oxford-50 group-hover:border-oxford-700
             checked:group-hover:bg-oxford-600 checked:group-hover:border-oxford-600
             checked:bg-oxford-600 checked:border-oxford-600
             focus:ring-0 focus:outline-2 focus:outline-offset-0 focus:outline-yellow-300"
    >
    <span class="transition-colors leading-snug group-hover:text-oxford-600 ">
      {{ field.label }}
    </span>
  </label>
</div>
