{% extends "base-tw.html" %}

{% load crispy_forms_tags %}

{% block title_extra %}Your codelists{% endblock %}

{% block full_width_main_top %}
<div class="bg-blue-50 py-8">
  <div class="container">
    <h1 class="font-bold text-4xl/tight tracking-tight mb-3">Your codelists</h1>
    <a
      class="flex w-max justify-center cursor-pointer rounded-md bg-blue-700 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs transition-colors hover:bg-blue-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700"
      href="{% url 'user-create-codelist' user.username %}"
    >
      Create a new codelist
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="grid grid-cols-1 gap-y-12 pt-8 pb-18">
    {% if codelists %}
      <div class="bg-white max-w-2xl shadow-sm overflow-hidden sm:rounded-lg">
        <h2 class="px-6 py-4 border-b border-b-slate-200 text-2xl/tight font-bold">
          Your codelists
        </h2>
        <ul class="flex flex-col items-stretch">
          {% for codelist in codelists %}
            <li class="flex not-last:border-b border-b-slate-200">
              <a
                class="flex flex-col gap-y-0.5 w-full px-6 py-4 bg-white text-blue-600 font-semibold transition-colors hover:bg-blue-50 hover:text-blue-900"
                href="{{ codelist.get_absolute_url }}"
              >
                <span>{{ codelist.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if authored_for_organisation %}
      <div class="bg-white max-w-2xl shadow-sm overflow-hidden sm:rounded-lg">
        <h2 class="px-6 py-4 border-b border-b-slate-200 text-2xl/tight font-bold">
          Organisation codelists
        </h2>
        <ul class="flex flex-col items-stretch">
          {% for codelist in authored_for_organisation %}
            <li class="flex not-last:border-b border-b-slate-200">
              <a
                class="flex flex-col gap-y-0.5 w-full px-6 py-4 bg-white text-blue-600 font-semibold transition-colors hover:bg-blue-50 hover:text-blue-900"
                href="{{ get_absolute_url }}"
              >
                <span>{{ codelist.name }}</span>
                {% if user.organisations.exists %}
                  <dl class="text-sm font-medium text-slate-700 flex flex-row gap-1">
                    <dt class="font-bold">Owner: </dt>
                    <dd>{{ codelist.owner.name }}</dd>
                  </dl>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if under_review %}
      <div class="bg-white max-w-2xl shadow-sm overflow-hidden sm:rounded-lg">
        <h2 class="px-6 py-4 border-b border-b-slate-200 text-2xl/tight font-bold">
          Codelists under review
        </h2>
        <ul class="flex flex-col items-stretch">
          {% for version in under_review %}
            <li class="flex not-last:border-b border-b-slate-200">
              <a
                class="flex flex-col gap-y-0.5 w-full px-6 py-4 bg-white text-blue-600 font-semibold transition-colors hover:bg-blue-50 hover:text-blue-900"
                href="{{ version.get_absolute_url }}"
              >
                <span>{{ version.codelist.name }}</span>
                {% if user.organisations.exists %}
                  <dl class="text-sm font-medium text-slate-700 flex flex-row gap-1">
                    <dt class="font-bold">Owner: </dt>
                    <dd>{{ draft.codelist.owner.name }}</dd>
                  </dl>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if drafts %}
      <div class="bg-white max-w-2xl shadow-sm overflow-hidden sm:rounded-lg">
        <h2 class="px-6 py-4 border-b border-b-slate-200 text-2xl/tight font-bold">
          Your drafts
        </h2>
        <ul class="flex flex-col items-stretch">
          {% for draft in drafts %}
            <li class="flex not-last:border-b border-b-slate-200">
              <a
                class="flex flex-col gap-y-0.5 w-full px-6 py-4 bg-white text-blue-600 font-semibold transition-colors hover:bg-blue-50 hover:text-blue-900"
                href="{{ draft.get_absolute_url }}"
              >
                <span>{{ draft.codelist.name }}</span>
                {% if user.organisations.exists %}
                  <dl class="text-sm font-medium text-slate-700 flex flex-row gap-1">
                    <dt class="font-bold">Owner: </dt>
                    <dd>{{ draft.codelist.owner.name }}</dd>
                  </dl>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
