{% extends 'base.html' %}

{% block title_extra %}: Set your Password{% endblock %}

{% block content %}

<div class="row mt-5">
  <div class="col">

    <h3 class="mb-5">Set your Password</h3>

    {% if form.non_field_errors %}
    <div class="non-field-errors">
      {% for error in form.non_field_errors %}
      <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}

      <div class="form-group row">

        <label for="id_new_password1" class="col-sm-2 col-form-label">New password</label>

        <div class="col-sm-10">
          <input
            type="password"
            name="new_password1"
            class="form-control{% if form.new_password1.errors %} border-danger{% endif %}"
            id="id_new_password1"
            aria-describedby="hint_id_new_password1" />

          <small id="hint_id_new_password1" class="form-text text-muted">
            {{ form.new_password1.help_text|safe }}
          </small>

          {% if form.new_password1.errors %}
          <ul class="list-unstyled my-2">
            {% for error in form.new_password1.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

      </div>

      <div class="form-group row">

        <label for="id_new_password2" class="col-sm-2 col-form-label">Confirm password</label>

        <div class="col-sm-10">
          <input
            type="password"
            name="new_password2"
            class="form-control{% if form.new_password2.errors %} border-danger{% endif %}"
            id="id_new_password2" />

          {% if form.new_password2.errors %}
          <ul class="list-unstyled my-2">
            {% for error in form.new_password2.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>

    </form>

  </div>
</div>

{% endblock %}
