{% extends 'base.html' %}

{% block content %}
<h2 class="my-4">{{ codelist.name }}</h2>

<h3 class="mb-4">Term searches</h3>

{% if searches %}
<ul class="list-group">
  {% for search in searches %}
  <li class="list-group-item">
    <a href="{{ search.get_absolute_url }}">{{ search.term }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>To start building a codelist, search for a term below.</p>
{% endif %}

{% if editable %}
<hr />
<form method="post" action="">
  {% csrf_token %}
  <div class="form-group">
    <input
      type="search"
      class="form-control"
      name="term"
      placeholder="Search term"
    />
  </div>
  <button type="submit" name="search" class="btn btn-primary">Search</button>
</form>

{% endif %}

{% if results %}
<hr />
<h3 class="mb-4">All results</h3>

<div id="codelist-builder-container"></div>
{% endif %}
{% endblock %}

{% block extra_js %}
{% include "./_builder.html" %}
{% endblock %}
