{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if search %}
<h2 class="my-4"><a href="{{ codelist.get_absolute_url }}">{{ codelist.name }}</a></h2>
<h3 class="mb-4">Search term: "{{ search.term }}"</h3>
{% else %}
<h2 class="my-4">{{ codelist.name }}</h2>
{% endif %}
<hr />

<div id="codelist-builder-container"></div>
{% endblock %}

{% block extra_js %}
{{ searches|json_script:"searches" }}
{{ filter|json_script:"filter" }}
{{ tables|json_script:"tables" }}
{{ included_codes|json_script:"included-codes" }}
{{ excluded_codes|json_script:"excluded-codes" }}
{{ displayed_codes|json_script:"displayed-codes" }}
{{ parent_map|json_script:"parent-map" }}
{{ child_map|json_script:"child-map" }}
{{ is_editable|json_script:"isEditable" }}
{{ update_url|json_script:"update-url" }}
{{ search_url|json_script:"search-url" }}

<script src="{% static 'js/builder.bundle.js' %}"></script>
{% endblock %}
