{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3 class="mt-4">{{ codelist_name }}</h3>
<p class="text-muted">This version is a draft</p>
<hr />

<div id="codelist-builder-container"></div>
{% endblock %}

{% block extra_js %}
{{ results_heading|json_script:"results-heading" }}
{{ searches|json_script:"searches" }}
{{ filter|json_script:"filter" }}
{{ tree_tables|json_script:"tree-tables" }}
{{ code_to_term|json_script:"code-to-term" }}
{{ code_to_status|json_script:"code-to-status" }}
{{ all_codes|json_script:"all-codes" }}
{{ included_codes|json_script:"included-codes" }}
{{ excluded_codes|json_script:"excluded-codes" }}
{{ parent_map|json_script:"parent-map" }}
{{ child_map|json_script:"child-map" }}
{{ is_editable|json_script:"is-editable" }}
{{ update_url|json_script:"update-url" }}
{{ search_url|json_script:"search-url" }}
{{ versions|json_script:"versions" }}
{{ metadata|json_script:"metadata" }}

<script src="{% static 'js/builder.bundle.js' %}"></script>
{% endblock %}
