{% extends 'base.html' %}

{% load django_vite %}

{% block title_extra %}: {{ codelist_name }} (Draft){% endblock %}

{% block full_width_content %}
  <div id="codelist-builder-container"></div>
{% endblock %}

{% block extra_js %}
  {{ results_heading|json_script:"results-heading" }}
  {{ searches|json_script:"searches" }}
  {{ tree_tables|json_script:"tree-tables" }}
  {{ code_to_term|json_script:"code-to-term" }}
  {{ code_to_status|json_script:"code-to-status" }}
  {{ all_codes|json_script:"all-codes" }}
  {{ parent_map|json_script:"parent-map" }}
  {{ child_map|json_script:"child-map" }}
  {{ is_editable|json_script:"is-editable" }}
  {{ draft_url|json_script:"draft-url" }}
  {{ update_url|json_script:"update-url" }}
  {{ search_url|json_script:"search-url" }}
  {{ sort_by_term|json_script:"sort-by-term" }}
  {{ versions|json_script:"versions" }}
  {{ metadata|json_script:"metadata" }}
  {{ is_empty_codelist|json_script:"is-empty-codelist" }}

  {% if debug %}
    <script type="module" nonce="{{ request.csp_nonce }}">
      import RefreshRuntime from 'http://localhost:5173/static/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
  {% endif %}

  {% vite_asset "assets/src/scripts/builder/index.tsx" %}
{% endblock %}
