<div>
  <div class="flex items-center justify-between">
    <label class="text-sm/6 font-semibold text-slate-900" for="{{ field.id_for_label }}">
      {{ field.label }}
    </label>
    {% if label_extra %}{{ label_extra }}{% endif %}
  </div>

  <div class="mt-2 grid grid-cols-1">
    <input
      {% attrs autocomplete type %}
      class="
          block w-full rounded-md bg-white px-3 py-1.5 text-base text-slate-900 outline-1 -outline-offset-1 focus:outline-2 focus:-outline-offset-2 sm:text-sm/6
        {% if field.errors %}
          col-start-1 row-start-1 pr-10 pl-3 outline-red-300 focus:outline-red-600 sm:pr-9 sm:text-sm/6
        {% else %}
          outline-slate-300 focus:outline-blue-700
        {% endif %}
      "
      id="{{ field.id_for_label }}"
      name="{{ field.html_name }}"
      {% if field.required %}required{% endif %}
      {% if field.value and show_value %}value="{{ field.value }}"{% endif %}
      {% if field.errors %}
        aria-invalid="true"
        aria-describedby="{{ field.html_name }}-error"
      {% endif %}
    >
    {% if field.errors %}
      {% comment %} Hero Icons: exclamation-circle (mini) icon {% endcomment %}
      <svg class="pointer-events-none col-start-1 row-start-1 mr-3 size-5 self-center justify-self-end text-red-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14ZM8 4a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-1.5 0v-3A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
      </svg>
    {% endif %}
  </div>

  {% if field.errors %}
    <ul class="mt-2 text-sm text-red-600" id="{{ field.html_name }}-error">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
