{% if level == "alert-success" %}
  {% var bg="bg-green-100" %}
  {% var icon_bg="text-green-700" %}
  {% var text="text-green-900" %}
{% elif level == "alert-warning" %}
  {% var bg="bg-yellow-100" %}
  {% var icon_bg="text-yellow-600" %}
  {% var text="text-yellow-800" %}
{% elif level == "alert-danger" %}
  {% var bg="bg-red-100" %}
  {% var icon_bg="text-red-500" %}
  {% var text="text-red-700" %}
{% else %}
  {% var bg="bg-blue-100" %}
  {% var icon_bg="text-blue-700" %}
  {% var text="text-blue-900" %}
{% endif %}

<div class="rounded-md {{ bg }} p-4 max-w-[65ch] mx-auto" role="alert">
  <div class="flex">
    <div class="shrink-0">
      {% if level == "alert-success" %}
        {% icon_check_circle_mini class="size-5 "|add:icon_bg %}
      {% elif level == "alert-warning" %}
        {% icon_exclamation_triangle_mini class="size-5 "|add:icon_bg %}
      {% elif level == "alert-danger" %}
        {% icon_x_circle_mini class="size-5 "|add:icon_bg %}
      {% else %}
        {% icon_exclamation_circle_mini class="size-5 "|add:icon_bg %}
      {% endif %}
    </div>
    <p class="ml-3 text-sm {{ text }}">
      {{ message }}
    </p>
  </div>
</div>
