{% if level == "alert-success" %}
  {% var bg="bg-green-100" %}
  {% var icon_bg="text-green-700" %}
  {% var text="text-green-900" %}
{% elif level == "alert-warning" %}
  {% var bg="bg-yellow-100" %}
  {% var icon_bg="text-yellow-600" %}
  {% var text="text-yellow-800" %}
{% elif level == "alert-danger" %}
  {% var bg="bg-red-100" %}
  {% var icon_bg="text-red-500" %}
  {% var text="text-red-700" %}
{% else %}
  {% var bg="bg-blue-100" %}
  {% var icon_bg="text-blue-700" %}
  {% var text="text-blue-900" %}
{% endif %}

<div class="rounded-md {{ bg }} p-4 max-w-[65ch] mx-auto" role="alert">
  <div class="flex">
    <div class="shrink-0">
      <svg class="size-5 {{ icon_bg }}" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        {% if level == "alert-success" %}
          {% comment %} Hero Icons: check-circle (mini) icon {% endcomment %}
          <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
        {% elif level == "alert-warning" %}
          {% comment %} Hero Icons: exclamation-triangle (mini) icon {% endcomment %}
          <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
        {% elif level == "alert-danger" %}
          {% comment %} Hero Icons: x-circle (mini) icon {% endcomment %}
          <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
        {% else %}
          {% comment %} Hero Icons: information-circle (mini) icon {% endcomment %}
          <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" />
        {% endif %}
      </svg>
    </div>
    <p class="ml-3 text-sm {{ text }}">
      {{ message }}
    </p>
  </div>
</div>
