<details-utils animate close-click-outside close-esc>
  <details class="feedback-form" id="feedbackForm">
    <summary class="feedback-form__summary">Give us feedback</summary>
    <div>
      <p>We love when our users are able to provide feedback so that the OpenSAFELY team can better understand and improve your experiences with OpenCodelists.</p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfmgxBge4Wf0mtZ2pbDVo1sR72AwO-G8iodd37q_qh6FhX21Q/viewform" target="_blank" rel="noopener noreferrer">
        Provide feedback &nearr;&#xFE0E;
      </a>
      <p>
        For anything else,
        <a href="{% url 'contact' %}">contact us</a>.
      </p>
    </div>
  </details>
</details-utils>
