{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html class="h-full bg-slate-50" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% vite_hmr_client %}
    {% vite_asset "assets/src/scripts/tw.js" %}

    {# The following is for Plausible stats collection. #}
    <script
      defer
      data-domain="opencodelists.org"
      event-is_logged_in="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"
      event-is_admin="{% if request.user.is_admin %}true{% else %}false{% endif %}"
      src="https://plausible.io/js/script.pageview-props.tagged-events.js"
    ></script>
    <script nonce="{{ request.csp_nonce }}">
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>
    {# End of stats-collecting. #}

    <title>{% block title_extra %}{% endblock %} | OpenCodelists</title>

    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
  </head>
  <body class="min-h-dvh flex flex-col {% if not in_production %}mt-9{% endif %}">
    {% if not in_production %}
      <div class="bg-lime-300 text-sm text-lime-800 text-center fixed w-full z-30 px-2 py-2 font-semibold top-0">
        Development
      </div>
    {% endif %}

    {% include "_includes/header.html" %}

    {% if messages %}
      <aside class="container py-8 space-y-2">
        {% for message in messages %}
          {% site_message message=message level=message.level_tag %}
        {% endfor %}
      </aside>
    {% endif %}

    <main>
      <div class="container">{% block content %}{% endblock %}</div>
      {% block full_width_content %}{% endblock %}
    </main>

    {% include "_includes/footer.html" %}

    {% block extra_js %}{% endblock %}
  </body>
</html>
