<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css" integrity="sha512-4o2NtfcBGIT0SbOTpWLYovl07cIaliKIQpUXvEPvyOgBF/01xY1TXm5F1B+X48/zhhFLIw2oBTsE0rjcwEOwJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap" media="print" onload="this.media='all'" />
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap" /></noscript>

    <style>
      html {
        position: relative;
        min-height: 100%;
      }

      body {
        font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        margin-bottom: 120px;
      }

      nav.bg-secondary {
        background-color: #002147 !important;
      }

      a {
        color: #0058be;
        font-weight: 600;
        text-decoration-skip-ink: auto;
        text-underline-offset: 1px;
      }

      a:hover,
      a:focus {
        color: #00397a;
        text-decoration: underline;
        text-decoration-color: #001936;
      }

      .home-codelists dd {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ddd;
      }

      .home-codelists dt {
        font-size: 1.1rem;
      }

      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        padding-top: 20px;
        line-height: 20px;
        background-color: #f5f5f5;
      }

      .footer p {
        margin-bottom: 0;
      }
    </style>

    {% block extra_styles %}{% endblock %}

    <script
      src="https://kit.fontawesome.com/7e05304e34.js"
      crossorigin="anonymous"
    ></script>

    <script>
      if (document.location.hostname === "www.opencodelists.org") {
        var script = document.createElement("script");
        script.defer = true;
        script.setAttribute("data-domain", "opencodelists.org");
        script.id = "plausible";
        script.src = "https://plausible.io/js/plausible.compat.js";
        document.head.appendChild(script);
      }
    </script>

    <title>OpenCodelists{% block title_extra %}{% endblock %}</title>

    <link rel="icon" href="/static/favicon.ico">
    <link rel="icon" href="/static/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="manifest" href="/static/manifest.webmanifest">
  </head>

  <body class="d-flex flex-column h-100">
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-secondary justify-content-between align-items-baseline"
    >
      <div class="mr-auto">
        <a class="navbar-brand" href="{% url 'codelists:index' %}"
          >OpenCodelists</a
        >

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-nav nav-item">
            <a class="nav-link text-white" href="{% url 'docs:index' %}">Docs</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="navbar-nav nav-item">
              <a class="nav-link text-white" href="{% url 'user' request.user.username %}">My codelists</a>
            </li>
            {% if user.memberships.exists %}
            <li class="navbar-nav nav-item">
              <a class="nav-link text-white" href="{% url 'organisations' %}">My organisations</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My account
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <span class="dropdown-item text-secondary">Signed in as {{ request.user.username }}</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
              </div>
            </li>
          {% else %}
            <li class="navbar-nav nav-item">
              <a class="nav-link text-white" href="{% url 'register' %}">Sign up</a>
            </li>
            <li class="navbar-nav nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}">Sign in</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="flex-shrink-0 container mb-5">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}

      <div class="mt-4">
        {% block content %} {% endblock %}
      </div>
    </main>

    <footer id="footer" class="border-top bg-light mt-auto py-5">
      <div class="container">
        <ul class="list-inline text-center d-flex flex-column flex-md-row justify-content-center mb-0 mb-md-3">
          <li class="list-inline-item mb-3 mb-md-0 mr-0 mr-md-5">
            <a href="{% url 'docs:index' %}">
              Documentation
            </a>
          </li>

          <li class="list-inline-item mb-3 mb-md-0 mr-0">
            <a href="https://www.opensafely.org/">
              OpenSAFELY
            </a>
          </li>
        </ul>

        <ul class="list-inline text-center d-flex flex-column flex-md-row justify-content-center">
          <li class="list-inline-item mb-3 mb-md-0 mr-0 mr-md-5">
            <a href="https://www.bennett.ox.ac.uk/">
              Bennett Institute for Applied Data Science
            </a>
          </li>

          <li class="list-inline-item mb-3 mb-md-0">
            <a href="https://www.ox.ac.uk/">
              University of Oxford
            </a>
          </li>
        </ul>

        <div class="row">
          <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 text-center mt-3 mb-0 small">
            <p>© University of Oxford for the Bennett Institute for Applied Data Science 2022. This work may be copied freely for non-commercial research and study. If you wish to do any of the other acts restricted by the copyright you should apply in writing to <a href="mailto:team@opensafely.org">team@opensafely.org</a>.</p>
            <p>SNOMED Clinical Terms® content © International Health Terminology Standards Development Organisation.</p>
            <p>ICD-10 codes, terms and text © World Health Organization, Third Edition. 2007.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.js" integrity="sha512-1lagjLfnC1I0iqH9plHYIUq3vDMfjhZsLy9elfK89RBcpcRcx4l+kRJBSnHh2Mh6kLxRHoObD1M5UTUbgFy6nA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js" integrity="sha512-hX6rgGqXX6Ajh6Y+bZ+P/0ZkUBl3fQMY6I1B51h5NDOu7XE1lVgdf2VqygjozLX8AufHvWAzOuC0WVMb4wJX4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js" integrity="sha512-T970v+zvIZu3UugrSpRoyYt0K0VknTDg2G0/hH7ZmeNjMAfymSRoY+CajxepI0k6VMFBXxgsBhk4W2r7NFg6ag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
