{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% vite_hmr_client %}
    {% vite_asset "assets/src/scripts/base.js" %}

    {# The following is for Plausible stats collection. #}
    <script
      defer
      data-domain="opencodelists.org"
      event-is_logged_in="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"
      event-is_admin="{% if request.user.is_admin %}true{% else %}false{% endif %}"
      src="https://plausible.io/js/script.pageview-props.tagged-events.js"
    ></script>
    <script nonce="{{ request.csp_nonce }}">
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>

    {# End of stats-collecting. #}

    {% block extra_styles %}{% endblock %}

    <title>OpenCodelists{% block title_extra %}{% endblock %}</title>

    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
  </head>

  <body class="d-flex flex-column h-100 position-relative">
    {% if not in_production %}
      <div class="development-banner">
        Development
      </div>
    {% endif %}
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-secondary justify-content-between align-items-baseline {% if not in_production %}nav--banner{% endif %}"
    >
      <div class="mr-auto">
        <a class="navbar-brand" href="{% url 'codelists:index' %}"
        >OpenCodelists</a
          >

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="navbar-nav nav-item">
              <a class="nav-link text-white" href="{% url 'docs:index' %}">Docs</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="navbar-nav nav-item">
                <a class="nav-link text-white" href="{% url 'user' request.user.username %}">My codelists</a>
              </li>
              {% if request.user.memberships.exists %}
                <li class="navbar-nav nav-item">
                  <a class="nav-link text-white" href="{% url 'organisations' %}">My organisations</a>
                </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <span class="dropdown-item text-secondary">Logged in as {{ request.user.username }}</span>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                  <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="dropdown-item" href="{% url 'logout' %}">Log out</button>
                  </form>
                </div>
              </li>
            {% else %}
              <li class="navbar-nav nav-item">
                <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
              </li>
              <li class="navbar-nav nav-item">
                <a class="nav-link text-white" href="{% url 'login' %}">Log in</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <main role="main" class="flex-shrink-0 my-4">
        {% if messages %}
          <div class="container">
            {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible mt-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class="container">
          {% block content %}
          {% endblock %}
        </div>

        <div class="container-fluid max-w-screen-2xl">
          {% block full_width_content %}
          {% endblock %}
        </div>
      </main>

      {% block above_footer %}
      {% endblock %}

      <footer id="footer" class="border-top bg-light mt-auto py-5">
        <div class="container">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="{% url 'contact' %}">
                Contact
              </a>
            </li>

            <li class="list-inline-item ml-4">
              <a href="{% url 'docs:index' %}">
                Documentation
              </a>
            </li>

            <li class="list-inline-item ml-4">
              <a href="https://www.opensafely.org/">
                OpenSAFELY
              </a>
            </li>

            <li class="list-inline-item ml-4">
              <a href="https://www.phc.ox.ac.uk/about/privacy-policy">
                Privacy Notice
              </a>
            </li>
          </ul>

          <ul class="list-inline mb-4">
            <li class="list-inline-item">
              <a href="https://www.bennett.ox.ac.uk/">
                Bennett Institute for Applied Data Science
              </a>
            </li>

            <li class="list-inline-item ml-4">
              <a href="https://www.ox.ac.uk/">
                University of Oxford
              </a>
            </li>
          </ul>

          <div class="small">
            <p>© University of Oxford for the Bennett Institute for Applied Data Science {% now "Y" %}. This work may be copied freely for non-commercial research and study. If you wish to do any of the other acts restricted by the copyright you should apply in writing to <a href="mailto:team@opensafely.org">team@opensafely.org</a>.</p>
            <p>SNOMED Clinical Terms® content © International Health Terminology Standards Development Organisation.</p>
            <p>ICD-10 codes, terms and text © World Health Organization, Third Edition. 2007.</p>
          </div>
        </div>
      </footer>

      {% block extra_js %}{% endblock %}
    </body>
  </html>
