{% extends "base-tw.html" %}

{% block title_extra %}Contact{% endblock %}

{% block content %}
  <article class="prose sm:prose-lg pt-12 pb-24">
    <h1>Contact</h1>
    <p>OpenCodelists is part of the <a href="https://www.opensafely.org/">OpenSAFELY</a> project from the <a href="https://www.bennett.ox.ac.uk/">Bennett Institute for Applied Data Science</a> at the <a href="https://www.ox.ac.uk/">University of Oxford</a>.</p>
    <hr>
    <h2 id="email-us">Email us</h2>
    <p>Contact the team by email at <a href="mailto:team@opensafely.org">team@opensafely.org</a></p>
    <hr>
    <h2>Feedback</h2>
    <p>We love when our users are able to provide feedback so that the OpenSAFELY team can better understand and improve your experiences with OpenCodelists.</p>
    <p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfmgxBge4Wf0mtZ2pbDVo1sR72AwO-G8iodd37q_qh6FhX21Q/viewform" target="_blank" rel="noopener noreferrer">
        Provide feedback &nearr;&#xFE0E;
      </a>
    </p>
    <hr>
    <h2>GitHub</h2>
    <p>If you have a GitHub account, and you have found a bug or would like to request a feature, please
      <a href="https://github.com/opensafely-core/opencodelists/issues/new">raise an issue in the issue tracker on GitHub</a>.</p>
    <p>If you would like support, first <a href="#email-us">try emailing us</a>, or try asking in the
      <a href="https://github.com/opensafely/documentation/discussions">OpenSAFELY discussion forum</a>.</p>
  </article>
{% endblock %}
