{% load definitions %}

<ul>
  {% for row in rows %}
  <li>
    <span style="color: blue">
      {{ row.name }}
    </span>
    (<code>{{ row.code }}</code>)

    {% if row.all_descendants %}
    and all descendants {% if row.excluded_descendants %} except:{% endif %}
    {% endif %}

    {% if row.excluded_descendants %}
    <ul class="mb-0">

      {% for child in row.excluded_descendants %}
      <li>
        <span style="color: black">
          {{ child.name }}
        </span>
        (<code>{{ child.code }}</code>)
      </li>
      {% endfor %}

    </ul>

    {% endif %}
  </li>

  {% endfor %}
</ul>
