<p>
  Codes not in the <a href="#full-list">full codelist</a> are in faint grey.
</p>

{% for section in tree_data %}
  <section class="tree" aria-labelledby="tree-{{ section.title|lower|urlize }}">
    <h3 class="tree__title" id="tree-{{ section.title|lower|urlize }}">{{ section.title }}</h3>
    <ul class="tree__list tree__list--root" title="Codes within the {{ section.title }} section">
      {{ section.depth }}
      {% include "_includes/tree_item.html" with list=section.children %}
    </ul>
  </section>
{% endfor %}
