{% extends 'base.html' %} {% block content %}

<br />
<h3>Codelist: {{ codelist.full_slug }}</h3>
<br />

<div class="row">
  <div class="col-2">
    <div class="btn-group btn-block" role="group">
      <button
        type="button"
        class="btn btn-outline-info btn-block dropdown-toggle"
        data-toggle="dropdown"
	
      >
        Download
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ download_csv_url }}">CSV</a>
        <a class="dropdown-item" href="{{ download_json_url }}">JSON</a>
      </div>
    </div>
    <hr />

    <dl>
      <dt>Coding system</dt>
      <dd>{{ codelist.coding_system.name }}</dd>

      <dt>Version</dt>
      <dd>{{ version.version_str }}</dd>

      <dt>Other versions</dt>
      {% for v in other_versions %}
      <dd><a href="{{ v.get_absolute_url }}">{{ v.version_str }}</a></dd>
      {% empty %}
      <dd>—</dd>
      {% endfor %}
    </dl>
  </div>

  <div class="col-10">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="codes-tab"
          data-toggle="tab"
          href="#codes"
          role="tab"
          aria-controls="codes"
          aria-selected="true"
          >Codes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="definition-tab"
          data-toggle="tab"
          href="#definition"
          role="tab"
          aria-controls="definition"
          aria-selected="false"
          >Query</a
        >
      </li>
    </ul>

    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="codes"
        role="tabpanel"
        aria-labelledby="codes-tab"
      >
        {% include "./_codelist_table.html" %}
      </div>
      <div
        class="tab-pane fade"
        id="definition"
        role="tabpanel"
        aria-labelledby="definition-tab"
      >
        {% include "./_codelist_definition.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
