{% extends 'base.html' %}
{% load markdown_filter %}

{% block content %}
<br />
<h3>{{ codelist.name }}</h3>
<br />

<div class="row">
  <div class="col-2">
    <div class="btn-group btn-block" role="group">
      <a
        href="{% url 'codelists:codelist_download' codelist.project_id codelist.slug %}"
        role="button"
        class="btn btn-outline-info btn-block"
      >
        Download CSV
      </a>
    </div>
    <hr />

    <dl>
      <dt>Project</dt>
      <dd>{{ codelist.project.name }}</dd>

      <dt>Coding system</dt>
      <dd>{{ codelist.coding_system.name }}</dd>

      <dt>Version</dt>
      <dd>{{ codelist.version_str }}</dd>

      <dt>Codelist ID</dt>
      <dd>{{ codelist.full_slug }}</dd>
    </dl>
  </div>

  <div class="col-10">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="definition-tab"
          data-toggle="tab"
          href="#definition"
          role="tab"
          aria-controls="definition"
          aria-selected="true"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="browse-tab"
          data-toggle="tab"
          href="#browse"
          role="tab"
          aria-controls="browse"
          aria-selected="false"
          >Browse</a
        >
      </li>
    </ul>

    <div class="tab-content">
      <div
        class="tab-pane fade show active p-4"
        id="definition"
        role="tabpanel"
        aria-labelledby="definition-tab"
      >
        <h4>Description</h4>
        <p>{{ codelist.description|markdown_filter|safe }}</p>

        {% if codelist.methodology %}
        <h4>Methodology</h4>
        <p>{{ codelist.methodology|markdown_filter|safe }}</p>
        {% endif %}

        <h4>References</h4>
        <ul>
          {% for reference in codelist.references.all %}
          <li><a href="{{ reference.url }}">{{ reference.text }}</a></li>
          {% empty %}
          <li>...</li>
          {% endfor %}
        </ul>

        <h4>Signed off by</h4>
        <ul>
          {% for signoff in codelist.signoffs.all %}
          <li>
            {{ signoff.user.name }},
            {{ signoff.user.organisation.name }}
	    ({{ signoff.date }})
          </li>
          {% empty %}
          <li>...</li>
          {% endfor %}
        </ul>
      </div>

      <div
        class="tab-pane fade p-4"
        id="browse"
        role="tabpanel"
        aria-labelledby="browse-tab"
      >
        <table id="js-codelist-table" class="table">
          <thead>
            {% for v in headers %}
            <th>{{ v }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row in rows %}
              <tr>
                {% for v in row %}
                <td>{{ v }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $('#js-codelist-table').DataTable({
      paging: false
    });
  });
</script>
{% endblock %}
