{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title_extra %}: {{ codelist.name }}{% endblock %}

{% block content %}
<br />
<h3>New Codelist</h3>

<form method="POST" enctype="multipart/form-data">
  <div class="mb-5">
    {% crispy codelist_form %}
  </div>

  <div id="reference-forms" class="mb-5">

    <div class="d-flex justify-content-between">
      <h4>References</h4>
      <button id="add-reference" class="btn btn-success">+</button>
    </div>

    <div class="d-none template">
      {% crispy reference_formset.empty_form helper %}
    </div>

    {% crispy reference_formset helper %}

  </div>

  <div id="signoff-forms" class="mb-5">

    <div class="d-flex justify-content-between">
      <h4>Sign Offs</h4>
      <button id="add-signoff" class="btn btn-success">+</button>
    </div>

    <div class="d-none template">
      {% crispy signoff_formset.empty_form helper %}
    </div>

    {% crispy signoff_formset helper %}

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/codelist.js' %}"></script>
{% endblock %}
