{% extends 'base.html' %}
{% load markdown_filter %}

{% block content %}

<div class="alert alert-primary mt-3" role="alert">
  New here?
  <a href="/docs/">Read the documentation</a> or
  <a href="https://www.youtube.com/playlist?list=PLE66rRIHuZxzSkFz8CthPQngqXIZiPlwq">watch our introductory videos</a>!
</div>

<br />
{% if organisation %}
<h3>{{ organisation.name }} codelists</h3>
{% else %}
<h3>All codelists</h3>
{% endif %}
<br />

<form class="form-inline mb-4">
  <label class="sr-only" for="search-codelists">Query</label>
  <input
    name="q"
    type="text"
    id="search-codelists"
    class="form-control mb-2 mr-2"
    placeholder="Search codelists"
    {% if q %}value="{{ q }}"{% endif %}
  />

  <button type="submit" class="btn btn-primary mb-2 mr-2">Search</button>
  <a href="/" role="button" class="btn btn-primary mb-2">Reset</a>
</form>

<div class="row">
  <div class="col-12">
    <dl>
      {% for cl in codelists %}
      <dt>
        <a href="{{ cl.get_absolute_url }}">{{ cl.name }}</a>
	<span class="badge badge-secondary">{{ cl.coding_system.short_name }}</span>
      </dt>
      <dd>

      {% if cl.description %}
      <div>{{ cl.description|markdown_filter|safe }}</div>
      {% endif %}

      {% if not organisation %}
      <div>Published by <a href="{% url 'codelists:organisation_index' cl.organisation_id %}">{{ cl.organisation.name }}</a></div>
      {% endif %}
      </dd>
      {% endfor %}
    </dl>
  </div>
</div>
{% endblock %}
