{% extends 'base-tw.html' %}

{% load django_vite %}

{% block title_extra %}{{ organisation.name }} codelists{% endblock %}

{% block content %}
  <header class="mb-8 border-b border-b-slate-300 py-8">
    <h1 class="max-w-prose text-2xl font-bold tracking-tight wrap-break-word text-slate-900 md:text-4xl">
      {{ organisation.name }} codelists
    </h1>
  </header>

  {% if not page_obj and not q %}
    <p class="text-lg/snug text-slate-700">{{ organisation.name }} has not published any codelists.</p>
  {% endif %}
{% endblock content %}

{% block full_width_content %}
  {% if page_obj or q %}
    <section class="pb-24">
      <div class="container">
        {% include "_partials/organisation_header.html" with organisation_name=organisation.name request_path=request.path search_query=q description="All of the codelists published by "|add:organisation.name title="Published codelists" sort=sort direction=direction only %}
      </div>

      {% include "_partials/organisation_table.html" with direction=direction page_obj=page_obj q=q sort=sort only %}
    </section>
  {% endif %}
{% endblock full_width_content %}
