{% extends 'base.html' %}

{% load django_vite %}

{% block title_extra %}: {{ codelist.name }}{% endblock %}

{% block full_width_content %}
  <div class="border-bottom mb-3">
    <h1 class="h3">{{ codelist.name }}</h1>
    {% if clv.is_under_review %}
      <p class="text-muted">This version is under review</p>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-3">
      <form action={{ clv.get_dmd_convert_url }} class="border-bottom pb-3 mb-3" method="POST">
        {% csrf_token %}
        <div class="btn-group-vertical btn-block" role="group">
          {% if clv.coding_system_id == "dmd" %}
            {% if clv.downloadable %}
              <a
                href="{{ clv.get_download_url }}"
                role="button"
                class="btn btn-outline-primary btn-block"
              >
                Download CSV <small class="d-block">with mapped VMPs*</small>
              </a>
            {% else %}
              <div class="btn btn-outline-primary btn-block disabled">
                Download CSV <small class="d-block">with mapped VMPs*</small>
              </div>
            {% endif %}
          {% else %}
            <a
              href="{{ clv.get_download_url }}"
              role="button"
              class="btn btn-outline-primary btn-block"
            >
              Download CSV
            </a>
          {% endif %}
          {% if clv.coding_system_id == "dmd" %}
            <a
              href="{{ clv.get_download_url }}?omit-mapped-vmps"
              role="button"
              class="btn btn-outline-primary btn-block"
            >
              Download CSV <small class="d-block">original</small>
            </a>
          {% endif %}
          {% if clv.codeset %}
            <a
              href="{{ clv.get_download_definition_url }}"
              role="button"
              class="btn btn-outline-primary btn-block"
            >
              Download definition
            </a>
          {% endif %}
          {% if clv.coding_system_id == "bnf" %}
            <a
              href="{{ clv.get_dmd_download_url }}"
              role="button"
              class="btn btn-outline-primary btn-block"
            >
              Download dm+d
            </a>
            {% if user_can_edit %}
              <button
                type="submit"
                role="button"
                class="btn btn-outline-primary btn-block"
                data-toggle="tooltip"
                title="Convert this version to a new dm+d codelist">
                Convert to dm+d
              </button>
            {% endif %}
          {% endif %}
        </div>
      </form>

      <h2 class="sr-only">Codelist metadata</h2>
      <dl class="break-word">
        <dt>
          <h3 class="h6 font-weight-bold mb-1">Coding system</h3>
        </dt>
        <dd class="pb-2 border-bottom">{{ clv.coding_system.name }}</dd>

        <dt>
          <h3 class="h6 font-weight-bold">Coding system release</h3>
        </dt>
        <dd class="pb-2 border-bottom">{{ clv.coding_system.release_name }}</dd>

        {% if clv.compatible_releases.exists %}
          <details>
            <summary>Show other compatible releases</summary>
            <ul>
              {% for release in clv.compatible_releases.all %}
                <li><small>{{ release.release_name }} ({{ release.valid_from|date:'Y-m-d'}})</small></li>
              {% endfor %}
            </ul>
          </details>
        {% endif %}

        {% if codelist.organisation %}
          <dt>
            <h3 class="h6 font-weight-bold">Organisation</h3>
          </dt>
          <dd class="pb-2 border-bottom">{{ codelist.organisation.name }}</dd>
        {% endif %}

        <dt>
          <h3 class="h6 font-weight-bold">Codelist ID</h3>
        </dt>
        <dd class="pb-2 border-bottom">{{ codelist.full_slug }}</dd>

        {% if clv.tag %}
          <dt>
            <h3 class="h6 font-weight-bold">Version Tag</h3>
          </dt>
          <dd class="pb-2 border-bottom">{{ clv.tag }}</dd>
        {% endif %}

        <dt>
          <h3 class="h6 font-weight-bold">Version ID</h3>
        </dt>
        <dd class="pb-2 border-bottom">{{ clv.hash }}</dd>
      </dl>

      {% if user_can_edit %}
        <div class="btn-group-vertical btn-block" role="group">
          <a
            class="btn btn-outline-primary btn-block"
            href="{{ codelist.get_update_url }}">
            Edit metadata
          </a>
        </div>

        <hr />

        <form method="POST" action={{ clv.get_create_url }}>
          {% csrf_token %}
          <div class="btn-group-vertical btn-block" role="group">
            {% if codelist.is_new_style %}
              {% if can_create_new_version %}
                <input type="hidden" name="coding_system_database_alias" value="" />
                <button
                  type="submit"
                  class="btn btn-outline-primary btn-block">
                  Create new version
                </button>
              {% else %}
                <button
                  type="button"
                  class="disabled btn btn-outline-secondary btn-block"
                  aria-disabled="true"
                  data-toggle="tooltip"
                  title="This codelist already has a draft version">
                  Create new version
                </button>
              {% endif %}
            {% else %}
              <a
                class="btn btn-outline-primary btn-block"
                href="{{ codelist.get_version_upload_url }}">
                Upload new version
              </a>
            {% endif %}

            {% if clv.is_under_review %}
              <button
                type="button"
                class="btn btn-outline-primary btn-block"
                data-toggle="modal"
                data-target="#js-publish-version-form">
                Publish version
              </button>
              <button
                type="button"
                class="btn btn-outline-primary btn-block"
                data-toggle="modal"
                data-target="#js-delete-version-form">
                Delete version
              </button>
            {% else %}
              <button
                type="button"
                class="disabled btn btn-outline-secondary btn-block"
                aria-disabled="true"
                data-toggle="tooltip"
                title="This version has already been published">
                Publish version
              </button>
              <button
                type="button"
                class="disabled btn btn-outline-secondary btn-block"
                aria-disabled="true"
                data-toggle="tooltip"
                title="This version has already been published, so cannot be deleted">
                Delete version
              </button>
            {% endif %}
          </div>
        </form>
      {% endif %}

      <div class="card">
        <div class="card-header p-2">
          <h2 class="h5 mb-0">Versions</h2>
        </div>
        <ul class="list-group list-group-flush sidebar-versions">
          {% for version in versions %}
            <li class="list-group-item px-2 py-3">
              {% if version.is_under_review %}
                <span class="badge badge-primary">Review</span>
              {% elif version.is_draft %}
                <span class="badge badge-primary">Draft</span>
              {% endif %}

              <span class="d-block pb-1">
                <code class="font-weight-bold text-body">
                  {% if version == clv %}
                    {{ version.tag_or_hash }}
                  {% else %}
                    <a class="text-monospace" href="{{ version.get_absolute_url }}">
                      {{ version.tag_or_hash }}
                    </a>
                  {% endif %}
                </code>
              </span>

              <span class="created d-block pt-1">
                <span>
                  Created:
                </span>
                <span class="d-block">
                  {{ version.created_at | date:'Y-m-d H:i:s' }}
                </span>
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <ul id="tab-list" class="nav nav-tabs" role="tablist">
        {% include "./_tab_nav.html" with label="About" tabname="about" active=True %}

        {% include "./_tab_nav.html" with label="Full list" tabname="full-list" %}

        {% if tree_tables %}
          {% include "./_tab_nav.html" with label="Tree" tabname="tree" %}
        {% endif %}

        {% if search_results %}
          {% include "./_tab_nav.html" with label="Searches" tabname="search-results" %}
        {% endif %}
      </ul>

      <div class="tab-content d-flex flex-column h-100">
        {% include "./_tab_pane.html" with tabname="about" partial="codelists/_about_tab.html" active=True %}

        {% include "./_tab_pane.html" with tabname="full-list" partial="codelists/_full_list_tab.html" %}

        {% if tree_tables %}
          {% include "./_tab_pane.html" with tabname="tree" partial="codelists/_tree_tables_tab.html" %}
        {% endif %}

        {% if search_results %}
          {% include "./_tab_pane.html" with tabname="search-results" partial="codelists/_search_results_tab.html" %}
        {% endif %}
      </div>
    </div>
  </div>

  {% include "./_are_you_sure_modal.html" with action="publish" title="Publish Version" url=clv.get_publish_url message="Publishing a version is irreversible, and will delete any other draft versions or versions under review." submit_text="Publish" %}

  {% include "./_are_you_sure_modal.html" with action="delete" title="Delete Version" url=clv.get_delete_url message="Deleting a version is irreversible." submit_text="Delete" %}

{% endblock %}

{% block extra_js %}
  {% vite_asset "assets/src/scripts/codelists-version.js" %}

  {{ child_map|json_script:"child-map" }}
  {{ parent_map|json_script:"parent-map" }}
  {{ tree_tables|json_script:"tree-tables" }}
  {{ code_to_term|json_script:"code-to-term" }}
  {{ code_to_status|json_script:"code-to-status" }}

  {% if debug %}
    <script type="module" nonce="{{ request.csp_nonce }}">
      import RefreshRuntime from 'http://localhost:5173/static/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
  {% endif %}
  {% vite_asset "assets/src/scripts/tree/index.jsx" %}
{% endblock %}
