{% extends 'base.html' %}

{% load static %}

{% block title_extra %}: {{ codelist.name }}{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css" integrity="sha512-4o2NtfcBGIT0SbOTpWLYovl07cIaliKIQpUXvEPvyOgBF/01xY1TXm5F1B+X48/zhhFLIw2oBTsE0rjcwEOwJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extra_styles %}

{% block content %}
<h3 class="mt-4">{{ codelist.name }}</h3>
{% if clv.is_under_review %}
<p class="text-muted">This version is under review</p>
{% endif %}
<hr />

<div class="row">
  <div class="col-md-3 col-lg-2">
    <form method="POST" action={{ clv.get_dmd_convert_url }}>
      {% csrf_token %}
      <div class="btn-group-vertical btn-block" role="group">
        {% if clv.coding_system_id == "dmd" %}
          {% if clv.downloadable %}
            <a
              href="{{ clv.get_download_url }}"
              role="button"
              class="btn btn-outline-primary btn-block"
            >
              Download CSV (with mapped VMPs)*
            </a>
          {% else %}
            <div class="btn btn-outline-primary btn-block disabled">
              Download CSV (with mapped VMPs)*
            </div>
          {% endif %}
        {% else %}
            <a
              href="{{ clv.get_download_url }}"
              role="button"
              class="btn btn-outline-primary btn-block"
            >
              Download CSV
            </a>
        {% endif %}
      {% if clv.coding_system_id == "dmd" %}
      <a
        href="{{ clv.get_download_url }}?omit-mapped-vmps"
        role="button"
        class="btn btn-outline-primary btn-block"
      >
        Download CSV (original)
      </a>
      {% endif %}
      {% if clv.codeset %}
      <a
        href="{{ clv.get_download_definition_url }}"
        role="button"
        class="btn btn-outline-primary btn-block"
      >
        Download definition
      </a>
      {% endif %}
      {% if clv.coding_system_id == "bnf" %}
        <a
          href="{{ clv.get_dmd_download_url }}"
          role="button"
          class="btn btn-outline-primary btn-block"
        >
          Download dm+d
        </a>
        {% if user_can_edit %}
          <button
            type="submit"
            role="button"
            class="btn btn-outline-primary btn-block"
            data-toggle="tooltip"
            title="Convert this version to a new dm+d codelist">
            Convert to dm+d
          </button>
        {% endif %}
      {% endif %}
    </div>
    </form
    <hr />

    <dl>
      <dt>Coding system</dt>
      <dd>{{ clv.coding_system.name }}</dd>

      <dt>Coding system release</dt>
      <dd>{{ clv.coding_system.release_name }}</dd>

      {% if clv.compatible_releases.exists %}
        <details>
          <summary>Show other compatible releases</summary>
          <ul>
            {% for release in clv.compatible_releases.all %}
              <li><small>{{ release.release_name }} ({{ release.valid_from|date:'Y-m-d'}})</small></li>
            {% endfor %}
          </ul>
        </details>
      {% endif %}

      {% if codelist.organisation %}
      <dt>Organisation</dt>
      <dd>{{ codelist.organisation.name }}</dd>
      {% endif %}

      <dt>Codelist ID</dt>
      <dd class="text-break">{{ codelist.full_slug }}</dd>

      {% if clv.tag %}
      <dt>Version Tag</dt>
      <dd>{{ clv.tag }}</dd>
      {% endif %}

      <dt>Version ID</dt>
      <dd>{{ clv.hash }}</dd>
    </dl>

    {% if user_can_edit %}
      <hr />

      <div class="btn-group-vertical btn-block" role="group">
        <a
          class="btn btn-outline-primary btn-block"
          href="{{ codelist.get_update_url }}">
          Edit metadata
        </a>
      </div>

      <hr />

      <form method="POST" action={{ clv.get_create_url }}>
        {% csrf_token %}
        <div class="btn-group-vertical btn-block" role="group">
          {% if codelist.is_new_style %}
            {% if can_create_new_version %}
              <input type="hidden" name="coding_system_database_alias" value="" />
              <button
                type="submit"
                class="btn btn-outline-primary btn-block">
                Create new version
              </button>
            {% else %}
              <button
                type="button"
                class="disabled btn btn-outline-secondary btn-block"
                aria-disabled="true"
                data-toggle="tooltip"
                title="This codelist already has a draft version">
                Create new version
              </button>
            {% endif %}
          {% else %}
          <a
            class="btn btn-outline-primary btn-block"
            href="{{ codelist.get_version_upload_url }}">
            Upload new version
          </a>
          {% endif %}

          {% if clv.is_under_review %}
            <button
              type="button"
              class="btn btn-outline-primary btn-block"
              data-toggle="modal"
              data-target="#js-publish-version-form">
              Publish version
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-block"
              data-toggle="modal"
              data-target="#js-delete-version-form">
              Delete version
            </button>
          {% else %}
            <button
              type="button"
              class="disabled btn btn-outline-secondary btn-block"
              aria-disabled="true"
              data-toggle="tooltip"
              title="This version has already been published">
              Publish version
            </button>
            <button
              type="button"
              class="disabled btn btn-outline-secondary btn-block"
              aria-disabled="true"
              data-toggle="tooltip"
              title="This version has already been published, so cannot be deleted">
              Delete version
            </button>
          {% endif %}
        </div>
      </form>
    {% endif %}

    <hr />

    <h6>Versions</h6>
    <ul class="pl-3">
      {% for version in versions %}
      <li>
        {% if version == clv %}
        {{ version.tag_or_hash }}
        {% else %}
        <a href="{{ version.get_absolute_url }}">{{ version.tag_or_hash }}</a>
        {% endif %}
        {% if version.is_under_review %}
        <span class="badge badge-primary">Review</span>
        {% elif version.is_draft %}
        <span class="badge badge-primary">Draft</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-9 col-lg-10">
    <ul id="tab-list" class="nav nav-tabs" role="tablist">
      {% include "./_tab_nav.html" with label="About" tabname="about" active=True %}

      {% include "./_tab_nav.html" with label="Full list" tabname="full-list" %}

      {% if tree_tables %}
      {% include "./_tab_nav.html" with label="Tree" tabname="tree" %}
      {% endif %}

      {% if search_results %}
      {% include "./_tab_nav.html" with label="Searches" tabname="search-results" %}
      {% endif %}
    </ul>

    <div class="tab-content d-flex flex-column h-100">
      {% include "./_tab_pane.html" with tabname="about" partial="codelists/_about_tab.html" active=True %}

      {% include "./_tab_pane.html" with tabname="full-list" partial="codelists/_full_list_tab.html" %}

      {% if tree_tables %}
      {% include "./_tab_pane.html" with tabname="tree" partial="codelists/_tree_tables_tab.html" %}
      {% endif %}

      {% if search_results %}
      {% include "./_tab_pane.html" with tabname="search-results" partial="codelists/_search_results_tab.html" %}
      {% endif %}
    </div>
  </div>
</div>

{% include "./_are_you_sure_modal.html" with action="publish" title="Publish Version" url=clv.get_publish_url message="Publishing a version is irreversible, and will delete any other draft versions or versions under review." submit_text="Publish" %}

{% include "./_are_you_sure_modal.html" with action="delete" title="Delete Version" url=clv.get_delete_url message="Deleting a version is irreversible." submit_text="Delete" %}

{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js" integrity="sha512-hX6rgGqXX6Ajh6Y+bZ+P/0ZkUBl3fQMY6I1B51h5NDOu7XE1lVgdf2VqygjozLX8AufHvWAzOuC0WVMb4wJX4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js" integrity="sha512-T970v+zvIZu3UugrSpRoyYt0K0VknTDg2G0/hH7ZmeNjMAfymSRoY+CajxepI0k6VMFBXxgsBhk4W2r7NFg6ag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#js-codelist-table').DataTable({
      paging: false
    });

    $('a[data-toggle="tab"]').on("click", function() {
      var url = location.href.split("#")[0];

      if ($(this).attr("href") !== "#about") {
        url += $(this).attr("href");
      }

      history.pushState(null, null, url);
    });

    switchToTab();
  });

  window.addEventListener("hashchange", switchToTab);

  function switchToTab() {
    var hash = location.hash || "#about";
    $('#tab-list a[href="' + hash + '"]').tab("show");
  }
</script>

{{ child_map|json_script:"child-map" }}
{{ parent_map|json_script:"parent-map" }}
{{ tree_tables|json_script:"tree-tables" }}
{{ code_to_term|json_script:"code-to-term" }}
{{ code_to_status|json_script:"code-to-status" }}

<script src="{% static 'js/tree.bundle.js' %}"></script>
{% endblock %}
