{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_filter %}

{% block title_extra %}: {{ codelist.name }}{% endblock %}

{% block content %}
<br />
<h3>{{ codelist.name }}</h3>
<br />

<div class="row">
  <div class="col-md-3 col-lg-2">
    <div class="btn-group btn-block" role="group">
      <a
        href="{% url 'codelists:download' clv.codelist.project_id clv.codelist.slug clv.qualified_version_str %}"
        role="button"
        class="btn btn-outline-info btn-block"
      >
        Download CSV
      </a>
    </div>
    <hr />

    <dl>
      <dt>Coding system</dt>
      <dd>{{ codelist.coding_system.name }}</dd>

      <dt>Project</dt>
      <dd>{{ codelist.project.name }}</dd>

      <dt>Codelist ID</dt>
      <dd>{{ codelist.full_slug }}</dd>

      <dt>Version</dt>
      <dd>{{ clv.qualified_version_str }}</dd>
    </dl>

    <hr />
    <div class="btn-group-vertical btn-block" role="group">
      <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#js-create-version-form">
        Create new version
      </button>
      {% if clv.is_draft %}
      <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#js-update-version-form">
        Update version
      </button>
      {% endif %}
    </div>
  </div>

  <div class="col-md-9 col-lg-10">
    <ul id="tab-list" class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="about-tab"
          data-toggle="tab"
          href="#about"
          role="tab"
          aria-controls="about"
          aria-selected="true"
          >About</a
        >
      </li>
      {% if html_definition %}
      <li class="nav-item">
        <a
          class="nav-link"
          id="definition-tab"
          data-toggle="tab"
          href="#definition"
          role="tab"
          aria-controls="definition"
          aria-selected="false"
          >Definition</a
        >
      </li>
      {% endif %}
      <li class="nav-item">
        <a
          class="nav-link"
          id="full-list-tab"
          data-toggle="tab"
          href="#full-list"
          role="tab"
          aria-controls="full-list"
          aria-selected="false"
          >Full list</a
        >
      </li>
      {% if html_tree %}
      <li class="nav-item">
        <a
          class="nav-link"
          id="tree-tab"
          data-toggle="tab"
          href="#tree"
          role="tab"
          aria-controls="tree"
          aria-selected="false"
          >Tree</a
        >
      </li>
      {% endif %}
    </ul>

    <div class="tab-content">
      <div
        class="tab-pane fade show active p-4"
        id="about"
        role="tabpanel"
        aria-labelledby="about-tab"
      >
        <h4>Description</h4>
        <p>{{ codelist.description|markdown_filter|safe }}</p>

        {% if codelist.methodology %}
        <h4>Methodology</h4>
        <p>{{ codelist.methodology|markdown_filter|safe }}</p>
        {% endif %}

        <h4>References</h4>
        <ul>
          {% for reference in codelist.references.all %}
          <li><a href="{{ reference.url }}">{{ reference.text }}</a></li>
          {% empty %}
          <li>...</li>
          {% endfor %}
        </ul>

        <h4>Signed off by</h4>
        <ul>
          {% for signoff in codelist.signoffs.all %}
          <li>
            {{ signoff.user.name }},
            {{ signoff.user.organisation.name }}
	    ({{ signoff.date }})
          </li>
          {% empty %}
          <li>...</li>
          {% endfor %}
        </ul>
      </div>

      {% if html_definition %}
      <div
        class="tab-pane fade p-4"
        id="definition"
        role="tabpanel"
        aria-labelledby="definition-tab"
      >

      <p>
        This definition has been computed by taking the manually created
        <a href="#full-list">full codelist</a> and converting it to a list of
        rules that define the codelist.
      </p>
      {{ html_definition|safe }}
      </div>
      {% endif %}

      <div
        class="tab-pane fade p-4"
        id="full-list"
        role="tabpanel"
        aria-labelledby="full-list-tab"
      >
        <table id="js-codelist-table" class="table table-sm">
          <thead>
            {% for v in headers %}
            <th>{{ v }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row in rows %}
              <tr>
                {% for v in row %}
                <td>{{ v }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

      {% if html_tree %}
      <div
        class="tab-pane fade p-4"
        id="tree"
        role="tabpanel"
        aria-labelledby="tree-tab"
      >

      <p>
        Codes in the <a href="#definition">definition</a> are underlined.
        Codes in the <a href="#full-list">full codelist</a> are in blue.
        Related codes not in the codelist are in black.
      </p>
      {{ html_tree|safe }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" id="js-create-version-form" tabindex="-1" role="dialog" aria-labelledby="create-version-form-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-version-form-label">Create new version</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% crispy create_version_form %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="js-update-version-form" tabindex="-1" role="dialog" aria-labelledby="update-version-form-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update-version-form-label">Update version</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% crispy update_version_form %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $('#js-codelist-table').DataTable({
      paging: false
    });

    $('a[data-toggle="tab"]').on("click", function() {
      var url = location.href.split("#")[0];

      if ($(this).attr("href") !== "#about") {
        url += $(this).attr("href");
      }

      history.pushState(null, null, url);
    });

    switchToTab();
  });

  window.addEventListener("hashchange", switchToTab);

  function switchToTab() {
    var hash = location.hash || "#about";
    $('#tab-list a[href="' + hash + '"]').tab("show");
  }
</script>
{% endblock %}
