---
name: Test and build Docker image

on:
  push:
  workflow_call:
  workflow_dispatch:

jobs:

  lint-dockerfile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5  # v3.3.0
        with:
          dockerfile: docker/Dockerfile

  check-py:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true

      - name: Build docker image and run checks in it
        run: |
          # build docker and run checks
          just docker-check-py

  check-js:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true

      - name: Build docker image and run checks in it
        run: |
          # build docker and run checks
          just docker-check-js

  test-py:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true

      - name: Build docker image for both prod and dev
        run: |
          just docker-build prod
          just docker-build dev

      - name: Check migrations
        run: |
          just docker-check-migrations

      - name: Run unit tests on docker dev image
        run: |
          # build docker and run tests with migrations
          just docker-test-py --migrations

      - name: Run smoke test on prod
        run: |
          just docker-serve prod -d
          sleep 5
          just docker-smoke-test || {
            echo "Smoke test failed, attempting to show logs for all containers:"
            for c in $(docker ps -a --format '{{.Names}}'); do
              echo "Logs for $c:";
              docker logs "$c" || true;
            done
            exit 1
          }

      - name: Save docker image
        run: |
          docker save opencodelists | zstd --fast -o /tmp/opencodelists.tar.zst

      - name: Upload docker image
        uses: actions/upload-artifact@v5
        with:
            name: opencodelists-image
            path: /tmp/opencodelists.tar.zst
            compression-level: 0

  test-functional:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true

      - name: Build docker image and run functional tests in it
        run: |
          # build docker and run test
          TAKE_SCREENSHOTS=True just docker-test-functional --migrations

  test-js:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true

      - name: Build docker image and run JS tests in it
        run: |
          # build docker and run test
          just docker-test-js
