---
name: CI

env:
  IMAGE_NAME: opencodelists
  PUBLIC_IMAGE_NAME: ghcr.io/opensafely-core/opencodelists
  REGISTRY: ghcr.io
  SSH_AUTH_SOCK: /tmp/agent.sock

on:
  push:
  workflow_dispatch:

concurrency: ci-${{ github.ref }}

jobs:
  assets:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Node.js
      - name: Cache node_modules
        uses: actions/cache@v3.0.1
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install node_modules
        run: npm ci

      - name: Lint assets
        run: |
          npm run lint
          npm run prettier

      - name: Test assets
        run: npm run test

      - name: Build assets
        run: npm run build

      - name: Store assets
        uses: actions/upload-artifact@v2
        with:
          name: node-assets
          path: assets/dist

  lint-dockerfile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: hadolint/hadolint-action@v1.4.0
        with:
          dockerfile: docker/Dockerfile

  # check-py:
  #   needs: [assets]
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb # v1.4.0

  #     - name: Retrieve assets
  #       uses: actions/download-artifact@v3
  #       with:
  #         name: node-assets
  #         path: assets/dist

  #     - name: Build docker image and run checks in it
  #       run: |
  #         # build docker and run checks
  #         just docker-check-py

  # test-py:
  #   needs: [assets]
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb # v1.4.0

  #     - name: Build docker image and run Python tests in it
  #       run: |
  #         # build docker and run test
  #         just docker-test-py

  # deploy:
  #   needs: [assets, check-py, test-py, lint-dockerfile]

  #   runs-on: ubuntu-latest

  #   permissions:
  #     contents: read
  #     packages: write

  #   if: github.ref == 'refs/heads/main'

  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb # v1.4.0

  #     - name: Build docker image
  #       run: |
  #         # docker-test step will build the dev image by default, so build the prod image
  #         just docker-build prod

  #     - name: Login to Packages Container registry
  #       run: |
  #         docker login $REGISTRY -u ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }}

  #     - name: publish docker image
  #       run: |
  #         docker tag $IMAGE_NAME $PUBLIC_IMAGE_NAME:latest
  #         docker push $PUBLIC_IMAGE_NAME:latest

  #     - name: Setup SSH Agent
  #       run: |
  #         ssh-agent -a $SSH_AUTH_SOCK > /dev/null
  #         ssh-add - <<< "${{ secrets.DOKKU1_DEPLOY_SSH_KEY }}"

  #     - name: Deploy
  #       run: |
  #         SHA=$(docker inspect --format='{{index .RepoDigests 0}}' $PUBLIC_IMAGE_NAME:latest)
  #         ssh -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no" dokku@dokku.ebmdatalab.net git:from-image opencodelists $SHA

  #     - name: Create Sentry release
  #       uses: getsentry/action-release@744e4b262278339b79fb39c8922efcae71e98e39
  #       env:
  #         SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_RELEASE_INTEGRATION_TOKEN }}
  #         SENTRY_ORG: ebm-datalab
  #         SENTRY_PROJECT: opencodelists
  #       with:
  #         environment: production
  #         ignore_empty: true
